<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SBA318</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <script src="/script.js" async defer></script>

    </head>

    <body>
        <div class="container">
            <h1>Welcome, <%= name %>!</h1>
        </div>

        <!-- interactive form-->
        <form class="itemForm">
            <label for="itemName">Item Name:</label>
            <input type="text" id="itemName" name="itemName">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
            <!-- method selection-->
            <label for="method">Method:</label>
            <select id="method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>

            </select>
            <button type="submit">Submit</button>
        </form>
        <div class="itemsContainer"></div>


    </body>

</html>